@import "../../variables.scss";

.contact_section {
  margin-top: 100px;

  .header {
    text-align: center;
    h2 {
      text-transform: capitalize;
      font-size: 25px;

      @media (max-width: 500px) {
        font-size: 20px;
      }
    }

    p {
      padding-top: 5px;
    }
  }

  .wrapper {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;

    .info_section {
      width: 40%;

      h4 {
        text-transform: capitalize;
        font-size: 17px;
        color: $secondary_color;
      }

      .txt_con {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        p {
          display: flex;
          align-items: center;
          gap: 10px;

          span {
            font-size: 20px;
            color: $text_color;
          }
        }
      }

      .socails_con {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 30px;

        span {
          height: 40px;
          width: 40px;
          border-radius: 50%;
          background: $primary_color;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: 0.4s ease;
          font-size: 15px;
          cursor: pointer;

          &:hover {
            background: $secondary_color;
          }
        }
      }
    }

    .form_section {
      width: 50%;

      h4 {
        text-transform: capitalize;
        font-size: 17px;
        padding-bottom: 15px;
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .box_con {
          display: flex;
          align-items: center;
          gap: 10px;
        }
        .input_con {
          border: 1px solid rgb(218, 217, 217);
          border-radius: 5px;
          overflow: hidden;
          flex: 1;

          input,
          textarea {
            width: 100%;
            padding: 15px;
            font-weight: 500;

            &::placeholder {
              color: grey;
            }
          }

          textarea {
            height: 200px;
          }
        }

        .btn {
          display: flex;
          justify-content: right;

          button {
            flex: 0.3;
          }
        }
      }
    }

    @media (max-width: 900px) {
      flex-direction: column;
      gap: 40px;

      .info_section {
        width: 100%;
      }

      .form_section {
        width: 100%;
      }
    }
  }

  @media (max-width: 900px) {
    margin-top: 70px;
  }
}
