@import "../../variables.scss";

.services_con {
  margin-top: 170px;
  .container {
    display: flex;
    flex-direction: column;
    gap: 50px;

    section {
      display: flex;
      gap: 30px;
      align-items: center;

      &:nth-child(odd) {
        flex-direction: row-reverse;
      }

      &:nth-child(3) {
        margin-top: -50px;

        @media (max-width: 900px) {
          margin-top: 0;
        }
      }

      .img_con {
        width: 50%;
        border-radius: 20px;
        overflow: hidden;
      }

      .txt_con {
        width: 50%;

        h2 {
          font-size: 23px;
          text-transform: capitalize;

          @media (max-width: 1024px) {
            font-size: 23px;
          }
        }

        p {
          padding: 20px 0;
        }
      }

      @media (max-width: 900px) {
        flex-direction: column;
        gap: 30px;

        &:nth-child(odd) {
          flex-direction: column;
        }

        &:nth-child(2) {
          gap: 0;

          .txt_con {
            margin-top: -10px;
          }
        }

        .img_con {
          width: 100%;
          border-radius: 10px;
        }

        .txt_con {
          width: 100%;

          p {
            padding: 15px 0 20px 0;
          }
        }
      }

      @media (max-width: 500px) {
        .txt_con h2 {
          font-size: 20px;
        }
      }
    }

    @media (max-width: 900px) {
      gap: 80px;
    }
  }

  @media (max-width: 1024px) {
    margin-top: 80px;
  }
}
