@import "../../variables.scss";

.reviews_section {
  padding: 100px 0;

  .header {
    h2 {
      font-size: 25px;
      text-transform: capitalize;

      @media (max-width: 500px) {
        font-size: 20px;
      }
    }

    p {
      padding-top: 10px;
      padding-right: 10px;

      span {
        color: $secondary_color;
      }
    }
  }

  .reviews_wrapper {
    margin-top: 30px;

    .swiper_con {
      width: 100%;
      padding-bottom: 50px;

      .swiper-pagination-bullet {
        background: $primary_color;
        height: 6px;
        width: 6px;
        opacity: 0.2;
      }

      .swiper-pagination-bullet-active {
        background: $primary_color;
        width: 20px;
        border-radius: 10px;
        opacity: 1;
      }
    }

    .box {
      max-width: 450px;
      width: 100%;
      height: fit-content;
      background: $bg_color_alt;
      padding: 30px;
      border-radius: 10px;
      overflow: hidden;

      .quote {
        font-size: 30px;
        color: $primary_color;
        opacity: 0.5;
      }

      .txt {
        padding: 30px 0 30px 0;
      }

      .avatar_section {
        display: flex;
        align-items: center;
        gap: 5px;

        .img {
          width: 90px;
          height: 90px;
          overflow: hidden;
          border-radius: 50%;
          padding: 3px;
          border: 2px solid $primary_color;
          img {
            border-radius: inherit;
          }

          @media (max-width: 500px) {
            width: 70px;
            height: 70px;
          }
        }

        .txt_con {
          h4 {
            text-transform: capitalize;
            font-size: 18px;
          }

          p {
            text-transform: capitalize;
            color: $secondary_color;
          }

          @media (max-width: 500px) {
            h4 {
              font-size: 16px;
            }

            p {
              font-size: 14px;
            }
          }
        }
      }

      @media (max-width: 425px) {
        padding: 15px;
      }
    }
  }
}
