@import "../../variables.scss";

.Hero_page {
  height: 100%;
  padding-top: 130px;
  padding-bottom: 100px;
  background: $primary_color;
  border-radius: 0 0 10% 10%;

  .container {
    display: flex;
    align-items: center;
    gap: 30px;

    .txt_con {
      width: 50%;

      h1 {
        font-size: 40px;
        line-height: 45px;
        color: white;

        span {
          color: $secondary_color !important;
        }

        @media (max-width: 1024px) {
          font-size: 30px;
          line-height: 30px;
        }
      }

      p {
        padding: 20px 0;
        color: rgb(219, 214, 214);
        font-weight: 500;
      }

      .download_app_btns {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 80px;

        .download_btn {
          display: flex;
          align-items: center;
          gap: 7px;
          background: black;
          border-radius: 5px;
          overflow: hidden;
          padding: 10px 25px;
          transition: 0.4s ease;

          &:hover {
            background: rgb(12, 12, 12);
          }

          span {
            font-size: 20px;
            color: white;
            line-height: 0;
          }

          .col {
            p {
              font-size: 10px;
              text-transform: uppercase;
              text-align: left !important;
              color: rgb(231, 229, 229);
              padding: 0;
            }

            h4 {
              text-transform: capitalize;
              font-size: 15px;
              text-align: left !important;
              color: white;
              font-weight: 500;
            }
          }
        }

        @media (max-width: 900px) {
          justify-content: center;
        }

        @media (max-width: 425px) {
          flex-direction: column;
          gap: 10px;

          .download_btn {
            width: 200px;
            justify-content: center;
            padding: 10px 0;
          }
        }
      }
    }

    .img_con {
      width: 50%;
      display: flex;
      align-items: center;
      gap: 10px;

      .img {
        width: 250px;
        height: 500px;

        @media (max-width: 500px) {
          width: 200px;
          height: 400px;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    border-radius: 0;
  }

  @media (max-width: 900px) {
    .container {
      flex-direction: column-reverse;
      gap: 30px;

      .img_con {
        width: 100%;
      }

      .txt_con {
        width: 100%;
        text-align: center;

        .btns {
          justify-content: center;
        }
      }
    }
  }
}
