@import "../../variables.scss";

.enterOtp_section {
  .header .subheader span {
    color: $secondary_color;
  }
  form {
    margin-top: 50px;

    input {
      text-align: center;
      font-weight: 500;
    }

    .error {
      text-align: center;
    }

    .btns {
      margin-top: 20px;
      button {
        width: 100%;
      }
    }
  }
}
