@import "../../variables.scss";

.Sign_up_page {
  height: fit-content;

  .main {
    display: flex;

    .form_wrapper {
      width: 50%;
      padding: 0 100px;

      &.active {
        width: 100% !important;

        .form_container {
          margin-top: 20px;
        }
      }

      .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 0;

        .logo {
          height: 50px;
          width: 50px;
        }

        .steps p {
          display: flex;
          align-items: center;
          gap: 5px;
          font-size: 15px;

          span {
            color: $secondary_color;
          }
        }
      }

      .header {
        h3 {
          font-size: 30px;
          text-align: center;
        }

        .subheader {
          text-align: center;
        }
      }

      .form_container {
        margin-top: 50px;
      }

      @media (max-width: 1024px) {
        padding: 0 50px;
      }

      @media (max-width: 500px) {
        padding: 0 20px;
      }
    }

    .img_wrapper {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background: $bg_color_alt;

      &.remove {
        display: none;
      }

      .img {
        width: 350px;
        height: 300px;
      }
    }

    @media (max-width: 900px) {
      .img_wrapper {
        display: none;
      }

      .form_wrapper {
        width: 100%;
      }
    }
  }
}
